.splashScreen__container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #11a;
    display: flex;
    align-items: center;
}

.splashScreen__fader {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;

    animation-duration: 3s;
    animation-name: brightAndDark;
}

.splashScreen__text {
    color: #ff7;

    animation-duration: 3s;
    animation-name: slideIn;
}

@keyframes slideIn {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 100%;
    }
}

@keyframes brightAndDark {
    from {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}
