.startingMenu__button{
    max-width: 40em;
}

.startingMenu__button-container {

}

.startingMenu__container{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.standardRaceMenu__container {
    display: grid;
    grid-template-columns: auto auto;
}

.standardRaceMenu__label {
    text-align: right;
    padding-right: 10px;
}

.standardRaceMenu__input {
    max-width: 100px;
}