.track{
    background-color: #ccc;
    width: 80%;
    height: 20vh;
    margin: auto;
}

.track-lane{
    display: flex;
    height: 50%;
    align-items: center;
}

.track-segment{
    border: 1px solid black;
    display: inline-block;
    width: 5%;
    /* padding-top: 10px; */
    line-height: 40px;
    min-height: 100%;
}

.track-segment-player-0{
    background-color: #88f;
}
.track-segment-player-1{
    background-color: #8f8;
}
.track-segment-player-2{
    background-color: #f88;
}
.track-segment-player-3{
    background-color: #ff8;
}